@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* O rosa exato do fundo do logotipo */
  --cor-fundo: #FCD5D9; 
  /* O castanho escuro elegante das letras "Luz" */
  --cor-texto: #6B4E54; 
  /* Um tom intermediário para detalhes e botões */
  --cor-detalhe: #B58D94; 
  /* Branco puro para os cartões de produto brilharem */
  --cor-branco: #FFFFFF;
}